.selectGroup {
	flex-basis: 46%;
	margin-bottom: 15px;
}

.label {
	text-align: center;
	display: block;
	font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
	font-weight: 600;
	margin-bottom: 15px;
	color: #374151;
}

.select {
	width: 100%;
	padding: clamp(0.625rem, 0.58rem + 0.23vw, 0.75rem);
	border-radius: 12px;
	background: #f0f0f3;
	color: #374151;
	font-size: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
	font-weight: 600;
	border: 1px solid #d1d9e6;
	box-shadow:
		inset 4px 4px 8px #d1d9e6,
		inset -4px -4px 8px #ffffff;
	outline: none;
	transition:
		border-color 0.3s ease,
		box-shadow 0.3s ease;
	will-change: border-color, box-shadow;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%23374151' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 1em 1em;
	padding-right: 2.5em;

	&:focus {
		box-shadow:
			0 0 8px 2px rgba(59, 130, 246, 0.6),
			inset 4px 4px 8px #d1d9e6,
			inset -4px -4px 8px #ffffff;
		border-color: #3b82f6;
	}
}
