.list {
	flex-basis: 46%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px;
	border-radius: 16px;
	background: #f0f0f3;
	box-shadow:
		inset 4px 4px 8px #d1d9e6,
		inset -4px -4px 8px #ffffff;
	justify-content: center;
	list-style: none;
}

.word {
	text-align: center;
	padding: 10px 18px;
	border-radius: 10px;
	background: #f0f0f3;
	color: #333;
	font-weight: 600;
	font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
	text-shadow: 1px 1px 1px #fff;
	box-shadow:
		2px 2px 5px #d1d9e6,
		-2px -2px 5px #ffffff;
	cursor: pointer;
	user-select: none;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease,
		color 0.3s ease;
		will-change: transform, box-shadow, color;

	&:hover {
		box-shadow:
			inset 2px 2px 4px #006aff,
			inset -2px -2px 4px #006aff;
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.97);
	}

	&.active {
		color: #006aff;
		box-shadow:
			inset 2px 2px 4px #006aff,
			inset -2px -2px 4px #006aff;
	}

	&.matched {
		color: #22c55e;
		background: #e6ffe6;
		box-shadow:
			inset 2px 2px 4px #b9dfc5,
			inset -2px -2px 4px #ffffff;
	}

	&.error {
		color: #ef4444;
		background: #ffebeb;
		box-shadow:
			inset 2px 2px 4px #ef4444,
			inset -2px -2px 4px #ef4444;
	}
}
