.wrapper {
	background-color: rgba(185, 199, 218, 0.5);
	padding-block: 40px;
	border-radius: 10px;
	padding-inline: 15px;
}

.container {
	position: relative;
	margin: 0 auto;
	padding-inline: 40px;
	padding-block: 40px;
	width: 100%;
	max-width: 500px;
	border-radius: 10px;
	// background-color: #fff;

	display: flex;
	flex-direction: column;
	gap: 20px;

	&.cold {
		background-color: #ffffff;
	}

	&.cool {
		background-color: #a3d0ff;
	}

	&.warm {
		background-color: #b8f3c3;
	}

	&.hot {
		background-color: #ffb3b3;
	}
}

.inputLine {
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	box-shadow:
		4px 4px 10px rgba(0, 0, 0, 0.1),
		-4px -4px 10px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	transition: box-shadow 0.3s ease;
	will-change: box-shadow;

	@media (any-hover: hover) {
		&:hover {
			box-shadow:
				4px 4px 10px #d1d9e6,
				-4px -4px 10px #ffffff;
		}
	}
}

.label {
	font-weight: 600;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #333;
	font-size: 1rem;
	font-size: clamp(0.9rem, 0.6rem + 1vw, 1.25rem);
	text-align: center;
}

.input {
	width: 80%;
	text-align: center;
	padding: 12px 16px;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: clamp(1rem, 0.7rem + 1vw, 1.3rem);
	background: #f0f0f3;
	box-shadow:
		inset 4px 4px 8px #d1d9e6,
		inset -4px -4px 8px #ffffff;
	transition: 0.3s ease;
}

.input:focus {
	box-shadow:
		inset 2px 2px 4px #d1d9e6,
		inset -2px -2px 4px #ffffff;
}

.resultLine {
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	box-shadow:
		4px 4px 10px rgba(0, 0, 0, 0.1),
		-4px -4px 10px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	transition: box-shadow 0.3s ease;
	will-change: box-shadow;

	@media (any-hover: hover) {
		&:hover {
			box-shadow:
				4px 4px 10px #d1d9e6,
				-4px -4px 10px #ffffff;
		}
	}
}

span {
	font-size: clamp(0.6rem, 0.7rem + 1vw, 1.3rem);
	color: #555;
	text-align: center;
	font-weight: 600;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
